
body{
  background: url("trainer_battlegrounds.jpg");
  background-size: cover;
  background-position: center;
}
#header{
  height: 100px;
  background: rgba(37, 71, 196, .8);
  width: 100%;
  margin: 0;
}
#label{
  font-size: 80px;
  margin: 0;
  color: yellow;
}
#table{
  display: inline-block;
}
#jack{
  display: inline-block;
  width: 600px;

}
#pic{
  transform: translate(319px, -57px);
}
.fadeInLeftBig {
  animation-duration: 2s;
  animation-delay: 2s;
}
 .shake{
  /* animation-duration: 3s;
  animation-delay:3s; */
  animation: shake 2s 2s forwards;
}

.pokemon-image{
  width: 250px;
  height: 250px;
  display: inline-block;
transition: transform .2s;
}
.pokemon-image:hover{
    -ms-transform: scale(3.5); /* IE 9 */
    -webkit-transform: scale(3.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.text1{
  font-size: 18pt;
  text-transform: capitalize;
  font-family: Impact, sans-serif;
  color: white;
  list-style-type: none; */
}
.pokemon1{
  width: 33%;
  left: 10%;
  display: inline-block;
  /* text-align: center; */
}
.pokemon2{
  width: 33%;
  right: 5%;
  display: inline-block;
}
.pokemon3{
  width: 33%;
  display: inline-block;
}
.text{
  font-size: 18pt;
}
.padding{
  padding-top: 5%;
  padding-left: 10%;
}
/* .text1{
  padding-top: 0%;
} */
.pokeballs{
  width: 170px;
  height: 130px;
}
.merge{
  display: inline-block;
  margin-left: 0;
  padding-left: 10px;
}
