

h1 {
  color: white;
  background-color: red;
  text-align: center;
  font-family: Chakra Petch;
  font-style: bold;
  font-size: 52px;
  height: 10vh;
}

h5 {
  color: white;
  background-color: red;
  text-align: center;
  font-family: Chakra Petch;
  font-size: 22px;
  height: auto;
}

.card{
  max-height: 50vh;

}

.DannyCard {
  position: absolute;
  top: 30%;
  transform: translate(-50,-50);
  left: 5%;
  background-color: #FFC6D9;
  border: 3px dashed red;
}

#ZairaCard {
  position: absolute;
  top: 30%;
  transform: translate(-50,-50);
  left: 30%;
  background-color: #FFC6D9;
  border: 3px dashed red;
}

#EliCard {
  position: absolute;
  top: 30%;
  transform: translate(-50,-50);
  left: 55%;
  background-color: #FFC6D9;
  border: 3px dashed red;
}



p {
  background-color: white;
  color: black;
  margin: 10px;
  padding: 10px;
  border: 2px dashed black;
  text-align: center;
  font-family: Chakra Petch;
  width: 90%;
}
