.h2, #eli{
  float: right;
  background-color: red;
  padding: 10px 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 50px;
  font-size: 37px;
}

.h3, #address{
  float: right;
  background-color: red;
  padding: 10px 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 50px;
  font-weight: normal;
  display: block;
  clear: right;
}

.img {
  margin-left: 100px;
  float: left;
}

#pokemonSection{
display: inline-block;
color: white;
margin-left: 50px;
padding-left: 100px;
padding-right: 100px;
}

.Gallade{
  display: inline-block;
  text-transform: capitalize;
}

.Lucario{
  display: inline-block;
  text-transform: capitalize;
}

.Absol{
  display: inline-block;
  text-transform: capitalize;
}

#pb{
  margin-left: 26%;
  margin-top:20%;
  position: absolute;
  width:15vh;
  height:15vh;
  /* clear:both; */
}

#sb{
  margin-left: 46%;
  margin-top:20%;
  position: absolute;
  width:15vh;
  height:15vh;
  /* clear:both; */
}

#mb{
  margin-left: 66%;
  margin-top:20%;
  position: absolute;
  width:15vh;
  height:15vh;
  /* clear:both; */
}
#balls{
  clear:both;
  padding-top: 100px;
  width:3px;
}
#allpoke{
  color:white;
  font-size:10px;
 }
/* #sidebar{
  transform: translate(300,300);
} */
#kirb{
  width:300px;
  display: inline-block;
  float:left;
  padding-left: 250px;
  padding-top: 150px;
}
 .product{
   text-align: center;
   text-transform: capitalize;
   padding-top: 280px;
   display: inline-table;
   padding-left:90px;
   width:30px;
   height:30px;
   transform:translate(200px,10px);
 }
